.error {
    color: red;
    font-weight: bolder;
 }

 .bg-darkmagenta {
    background-color: darkmagenta;
  }

  .btn-darkmagenta {
   background-color: darkmagenta;
   
   color: darkmagenta;

 }

 .is-invalid {
  border-color: red;
}

.error-message {
  color: red;
  margin-top: 5px;
  display: none;
}

.error-input {
  border: 1px solid red;
}

.error-email {
  display: none;
}


.demo {
    list-style: none;
}

.card-img-top {
  object-fit: cover;
  height: 300px;
}
.card-body {
  background-color: #f8f9fa;
}
.logo {
  height: 40px;
  margin-right: 10px;
}

.hr-hidden {
  margin-top: 30px;
  border: none;
}

.p-nosotros {
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
