.error {
    color: red;
    font-weight: bolder;
 }

 .bg-darkmagenta {
    background-color: darkmagenta;
  }

  .btn-darkmagenta {
   background-color: darkmagenta;
   
   color: darkmagenta;

 }

 .is-invalid {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  display: none;
}

.demo {
    list-style: none;
}
